body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

div {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* animation-name: disappearTop;
  animation-duration: 2s;
  animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

.textPopup {
  z-index: 2;
  position: absolute;
  width: 20%;
}

.boxPopup {
  z-index: 2;
  position: absolute;
  border: 1px solid black;
  background-color: #212f3d;
  color: white;
  border-radius: 5px;
  padding: 20px;
  width: 20%;
}

.greyOut {
  position: relative;
  opacity: 80%;
  z-index: 2;
  background-color: #424949;
  height: 100vh;
  width: 100%;
}

.importantPopup {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1 px solid black;
  border-radius: 5px;
  padding: 20px;
}

.closeButton {
  margin: 8px;
}

.customCss {
  background-color: blueviolet;
  border-radius: 40px;
  line-height: 100px;
  height: 100px;
}

.left {
  position: absolute;
  left: 0px;
}

@keyframes toTop {
  from {
  }
  to {
    top: 0px;
  }
}

@keyframes toRight {
  from {
  }
  to {
    left: 70vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* STYLES FOR EXAMPLES */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 6%;
  margin-right: 6%;
}

.subtitle {
  font-size: 20px;
  margin-left: 6%;
  margin-right: 6%;
}

.normal {
  margin-left: 6%;
  margin-right: 6%;
}

.marginTop {
  margin-top: 6%;
}

.smallMarginTop {
  margin-top: 3%;
}

/* .mouseoverTarget {
  color: #336699;
  text-decoration: underline;
} */
