body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

div {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* animation-name: disappearTop;
  animation-duration: 2s;
  animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

.textPopup {
  z-index: 2;
  position: absolute;
  width: 20%;
}

.boxPopup {
  z-index: 2;
  position: absolute;
  padding: 20px;
  width: 20%;
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background {
  z-index: 1;
}

.greyOut {
  position: absolute;
  opacity: 80%;
  z-index: 2;
  background-color: #424949;
  top: 0px;
  height: 200%;
  width: 100%;
}

.importantPopup {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1 px solid black;
  border-radius: 5px;
  padding: 20px;
}

.closeButton {
  margin: 8px;
}

.customCss {
  background-color: blueviolet;
  border-radius: 40px;
  line-height: 100px;
  height: 100px;
}

.left {
  position: absolute;
  left: 0px;
}

@keyframes toTop {
  from {
  }
  to {
    top: 0px;
  }
}

@keyframes toRight {
  from {
  }
  to {
    left: 70vw;
  }
}

@keyframes moveDown {
  from {
  }
  to {
    position: absolute;
    top: 500px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* STYLES FOR EXAMPLES */
.title1 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.title2 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
}

.normal {
  font-size: 18px;
  margin-left: 15%;
  margin-right: 15%;
}

.smallMarginTop {
  margin-top: 1%;
}

.marginTop {
  margin-top: 6%;
}

.example1 {
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.code {
  font-size: 18px;
  margin-top: 0px;
}

.blue {
  color: rgb(0, 123, 255);
}

.wide {
  font-size: 18px;
  font-weight: normal;
  width: 70%;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
}

.smallMarginTop {
  margin-top: 1%;
}

.blue {
  color: rgb(0, 123, 255);
}
